<h3 class="work">Work</h3>
<ul>
  <li><a href="#" class="current-menu-item">S.S. Pearl Necklace</a></li>
  <li><a href="#">The Sack of the Innocents</a></li>
  <li><a href="#">Pipe and First Mate</a></li>
</ul>

<h3 class="about">About</h3>
<ul>
  <li><a href="#">Skills</a></li>
  <li><a href="#">Experience</a></li>
  <li><a href="#">Testimonials</a></li>
</ul>

<h3 class="contact">Contact</h3>
<ul>
  <li><a href="#">Address</a></li>
  <li><a href="#">Phone</a></li>
  <li><a href="#">Social Networks</a></li>
</ul>