<!-- inside the .content div -->
<article class="portfolio-item group first">
    <header class="portfolio-info">
      <div class="title">Call of Booty</div>
      <div class="date">7 Nov 2013</div>
      <div class="description">
        Arrrgh mateys! This be the finest vessel sailing these seas that yer eyes ever laid sight on. Arrrgh.
      </div>
    </header>
    <figure class="portfolio-image">
      <img src="images/drunkenPirate_thumb3.png" alt="Pirate Ship">
    </figure>
  </article>

  <article class="portfolio-item group">
    <header class="portfolio-info">
      <div class="title">The Sack of the Innocents</div>
      <div class="date">7 Nov 2013</div>
      <div class="description">
        This be a detail of the sacking of the innocents where I played an important role as business analyst and in implementation.
      </div>
    </header>
    <figure class="portfolio-image">
      <img src="images/drunkenPirate_thumb2.png" alt="Sack of the Innocents">
    </figure>
  </article>

  <article class="portfolio-item group">
    <header class="portfolio-info">
      <div class="title">Pipe and First Mate</div>
      <div class="date">7 Nov 2013</div>
      <div class="description">
        After a hard day of lootin' and shootin' I like to relax with my best mates and tally up the days booty.
      </div>
    </header>
    <figure class="portfolio-image">
      <img src="images/drunkenPirate_thumb1.png" alt="Pipe and Mate">
    </figure>
  </article>

  <article class="portfolio-item group loading-wrap">
    <header class="portfolio-info">
    </header>
    <figure class="portfolio-image">
      <div class="loading">
        <img src="images/loading.png" alt="Loading" class="rotate">&nbsp;Loading...
      </div>
    </figure>
  </article>