.social {
    width: 120px;
    margin: 0 auto;
    
    a {
        float: left;
        width: 25px;
        height: 25px;
        margin: 0 $margin/5;
        background: url(images/social-media.png) no-repeat;
        text-indent: -9999px;

        @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
            background: url(images/social-media@2x.png) no-repeat;
            background-size: 101px 51px;
        }
        
        &.dribbble {
            background-position: 0px 0px;
            
            &:hover {
                background-position: 0px -25px;
            }
            
        }
        
        &.twitter {
            background-position: -25px 0px;
            
            &:hover {
                background-position: -25px -25px;
            }
        }
        
        &.facebook {
            background-position: -50px 0px;
            
            &:hover {
                background-position: -50px -25px;
            }
        }
        
        &.googleplus {
            background-position: -75px 0px;
            
            &:hover {
                background-position: -75px -25px;
            }
        }
        
    }
}